* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: grey;
  color: white;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  width: 100%;
  max-width: 900px;
  height: 90vh;
  background: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Header */

.chat-header {
  padding: 20px;
  border-bottom: 1px solid #555;
  text-align: center;
}

.chat-header h1 {
  margin: 0;
  font-size: 22px;
}

/* Messages */

.messages {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
}

.message {
  max-width: 75%;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  line-height: 1.5;
}

.bot {
  background: #565869;
  align-self: flex-start;
}

/* Input */

.input-area {
  display: flex;
  padding: 20px;
  border-top: 1px solid #555;
  gap: 10px;
}

.input-area input {
  flex: 1;
  background: white;
  border: 1px solid #666;
  color: black;
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.input-area input::placeholder {
  color: #aaa;
}

.input-area button {
  background: #10a37f;
  color: white;
  border: none;
  padding: 0 25px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.input-area button:hover {
  background: #0d8f6f;
}


/* Mobile */

@media (max-width: 700px) {
  .chat-container {
    height: 100vh;
    border-radius: 0;
  }

  .input-area {
    padding: 12px;
  }

  .input-area button {
    padding: 0 15px;
  }
}